button{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
header{
background-color: blanchedalmond;
text-color: black;
}
p{
    font-weight: 5px;
    font-size: 10px;
}